@model ShopTARge23.Models.RealEstates.RealEstateCreateUpdateViewModel

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            @if (Model.Id.HasValue)
            {
                <h2>Update</h2>
            }
            else
            {
                <h2>Create</h2>
            }
            <p>Real Estate</p>
        </header>

        <!-- Content -->
        <section id="content">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <input asp-for="CreatedAt" type="hidden" />
                <input asp-for="ModifiedAt" type="hidden" />
                <table class="table table-hover">
                    <tr>
                        <td><label asp-for="Size" class="col-sm-2 col-form-label"></label></td>
                        <td> <input asp-for="Size" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Location" class="col-sm-2 col-form-label"></label></td>
                        <td> <input asp-for="Location" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td> <label asp-for="RoomNumber" class="col-sm-2 col-form-label"></label></td>
                        <td><input asp-for="RoomNumber" type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>  <label asp-for="BuildingType" class="col-sm-2 col-form-label"></label></td>
                        <td><input asp-for="BuildingType"  class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>   <label asp-for="Files" class="col-sm-2 col-form-label"></label></td>
                        <td> <input class="form-control" asp-for="Files" multiple type="file" /></td>
                    </tr>
                </table>
                <div>
                    @foreach (var images in Model.Image)
                    {
                        <partial name="_Images" model="images" />
                        <input asp-action="removeImage" asp-controller="realestates" asp-route-imageId="@images.ImageId" type="submit"
                               value="Remove Image" />
                    }
                </div>
                <br />
                @if (Model.Id.HasValue)
                {
                    <input asp-action="Update" asp-controller="realestates" type="submit" class="btn btn-primary" value="Update" />
                }
                else
                {
                    <input asp-action="Create" asp-controller="realestates" type="submit" class="btn btn-primary" value="Create" />
                }
                <br />
                <br />
                <div><a asp-action="Index" asp-controller="realestates" class="btn btn-success">Back</a></div>
            </form>
        </section>
    </div>
</div>
