@model ShopTARge23.Models.Coctails.SearchCoctailViewModel


<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Find a coctail receipe</h2>
        </header>

        <!-- Content -->
        <section id="content">
            <form asp-controller="Coctails" asp-action="Index" method="post">
                <div class="container">
                    <div class="form-group col-md-offset-3 col-md-5">
                        <div scope="col">Coctail name</div>
                        <input asp-for="SearchCoctail" class="form-control" value="@Model.SearchCoctail" />
                        <span asp-validation-for="SearchCoctail" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="container">
                    <div class="form-group col-md-offset-3 col-md-5">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>


            <!-- Tulemused -->
            <div class="container">
                @if (Model.Results != null && Model.Results.Count > 0)
                {
                    <ul>
                        @foreach (var coctail in Model.Results)
                        {
                            <li>
                                <!-- Link kokteili detailide lehele -->
                                <a href="@Url.Action("Details", "Coctails", new { idDrink = coctail.IdDrink, searchQuery = Model.SearchCoctail })">
                                    @coctail.StrDrink
                                </a>

                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No results found.</p>
                }
            </div>
        </section>
    </div>
</div>


    

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="path/to/scrolly.min.js"></script>
<script src="path/to/main.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
<script src="~/assets/js/util.js" asp-append-version="true"></script>
<script src="~/assets/js/main.js" asp-append-version="true"></script>