@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Privacy Policy</h2>
		</header>

		<!-- Content -->
		<section id="content">
			<p>Use this page to detail your site's privacy policy.</p>
		</section>
	</div>
</div>
