@model ShopTARge23.Models.AccuWeathers.AccuWeatherSearchViewModel

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Search the forecast</h2>
        </header>

        <!-- Content -->
        <section id="content">
            <form method="post">
                <div class="container">
                    <div class="form-group col-md-offset-3 col-md-5">
                        <div scope="col">City name</div>
                        <input asp-for="CityName" class="form-control" />
                        <span asp-validation-for="CityName" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="container">
                    <div class="form-group col-md-offset-3 col-md-5">
                        <button asp-controller="accuWeathers" asp-action="searchCity" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>