<style>
    .notification-message {
        text-align: center;
    }
</style>

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <br />
            <br />
        </header>
        <div class="notification-message">
            ﻿<h4>
                If you have an account with us, we have sent an email
                with the instructions to reset your password
            </h4>
        </div>
    </div>
</div>