@model ShopTARge23.Models.Accounts.LoginViewModel

<style>
    /* Vormide joondamine kõrvuti */
    .form-container {
        display: flex; /* Paigutab elemendid horisontaalselt */
        align-items: flex-start; /* Joondab elemendid ülevalt */
    }

        .form-container form {
            flex: 1; /* Iga vorm võtab võrdse osa saadaval olevast laiuse ruumist */
            margin: 0 2rem; /* Lisab vormide vahele ruumi */
        }

    .form-group {
        margin-bottom: 1.25rem;
    }

    .form-control {
        width: 80%; /* Tagab, et sisend on vormi sees ühtlase laiusega */
    }

    .form-group label {
        text-align: left;
        width: 20%;
    }
</style>


@{
    ViewBag.Title = "User Login";
}

<!-- Main -->
<div id="main" class="wrapper style1" >
    <div class="container">
        <header class="major" style="margin-bottom: 0rem">
            <h2>Account login</h2>
        </header>

        <!-- Vormid konteineris -->
        <div class="form-container">
            <!-- Kohalik konto -->
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="text-align: center"><h3>Local account</h3></div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                    <div class="form-control">
                        <input asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                    <div class="form-control">
                        <input asp-for="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="checkbox" style="margin-left: 6rem">
                    <input asp-for="RememberMe" type="checkbox" id="rememberMeCheckbox" />
                    <label for="rememberMeCheckbox">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
                <br />
                <div class="form-group row">
                    <div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <div>
                            <a asp-action="ForgotPassword">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Väline konto -->
            <form>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="text-align: center">
                    <h3>External account</h3>
                    <hr />
                    @{
                        if (Model.ExternalLogins.Count == 0)
                        {
                            <div>No External account</div>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>
